body {
    background-image: url('https://preview.redd.it/09lyatts0xd61.png?width=1080&crop=smart&auto=webp&s=78e945bb86ba678fd860b28699c24f82a68b3ce5');
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;

} 

h1{
    margin-bottom: 20px;
    color: yellow;
}

.home-container {
    margin-top: 100px;
}

img {
    width: 600px;
}

p {
    margin-top: 20px;
    font-size: xx-large;
    color: yellow;
}

footer {
    position:fixed;
    bottom: 0;
}

footer a{
    margin: 0 10px;
    font-size: x-large;
}
